/* ##############################################################################
    Formatações Gerais */

* {

    padding: 0;
    margin: 0;

}

body {

    font: 14pt Bookman, 
    URW Bookman L, serif;

    background-color: #aef3b191;

}

a {
    text-decoration: none;
}

.clear { clear: both; }

/* ##############################################################################
    Formatações HEADER */

header #barra-principal {

    background-color: #1F1E2C;

}

header #barra-principal h1 {

    color: white;
    font-size: 1.6em;
    line-height: 4em;
    text-indent: 2em;

}

header #slides-show {

    margin-top: 0.5em;
    border: 1px solid #b17c0b;
    line-height: 425px;
    
}

/* ##############################################################################
    Formatações Conteudo*/

#caixas-de-conteudo {
    width: 87%;
    margin: 0 auto;
}

.main-box {
    padding: 7px 4px 7px 7px;
    margin: 1.4em 0;
    background-color: #1F1E2C;
}

.main-box > h2 {
    line-height: 2em;
    text-indent: 3em;
    color: white;
}

.mini-box {
    /*border: 1px solid black;*/
    width: 29.8%; /* 33.33 %*/
    float: left;
    color: white;
    text-align: center;
    height: 230px;
    padding: 20px;
}

.mini-box h2 {
    font-size: 1.6em;
    line-height: 1.6em;
    margin: 0.4em 0;
}

.mini-box p {
    line-height: 1.4em;
    font-size: 0.8em;
    margin: 4em 0;
        
}

/* ##############################################################################
    Cores das caixas */

    .main-box a :hover{
        background-color: #c2c2c2;
        color: #1F1E2C
    }

    .caixa-azul-1 {
        background-color: #0B789F;
    }

    .caixa-red-1 {
        background-color: #A10A2E;
    }

    .caixa-purple-1 {
        background-color: #880BA1;
    }

    .caixa-green-1 {
        background-color: #08A355;
    }

    .caixa-green2-1 {
        background-color: #518F1C;
    }

    .caixa-azul-2 {
        background-color: #2690B8;
    }

    .caixa-red-2 {
        background-color: #BF1E44;
    }

    .caixa-purple-2 {
        background-color: #A41FBE;
    }

    .caixa-green-2 {
        background-color: #19C46E;
    }

    .caixa-green2-2 {
        background-color: #6AAE2F;
    }

    .caixa-azul-3 {
        background-color: #3FA9D1;
    }

    .caixa-red-3 {
        background-color: #DA355C;
    }

    .caixa-purple-3 {
        background-color: #BD37D9;
    }

    .caixa-green-3 {
        background-color: #30DF87;
    } 

    .caixa-green2-3 {
        background-color: #82C947;
    }

    .caixa-azul-escuro-1 {
         background-color: #133498;
    }

    .caixa-azul-escuro-2 {
        background-color: #2C4DB1;
   }

   .caixa-azul-escuro-3 {
    background-color: #4566CA;
}

    




/* ##############################################################################
    Formatações */

/* ##############################################################################
    Formatações */


/* ##############################################################################
    Formatações Rodapé */

footer {
    background-color: #2E2D3B;
    color: white;
    height: 300px;
}

footer h2 {
    font-size: 1em;
    text-indent: 1em;
    line-height: 2em;
}

footer #main-footer {
    background-color: #1F1E2C;
    height: 258px;
}




/* ##############################################################################
    Formatações */

/* ##############################################################################
    Formatações */

/* ##############################################################################
    Formatações */

/* ##############################################################################
    Formatações */